<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django tutorial</title>
</head>
<body>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum explicabo cupiditate sunt dolore ab veniam, molestiae quam non nemo architecto vero dignissimos possimus aperiam hic autem asperiores accusamus totam alias!</h3>

    <div id="content" style="border: 1px solid grey">
        {% block content %}
        {% endblock content %}
    </div>

</body>
</html>